@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Julius+Sans+One&family=Raleway&family=Roboto+Condensed&family=Yesteryear&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  height: 100vh;

  background-color: #ece4da;

  color: #252525;
}

ul > li {
  list-style: none;
}

header {
  background: url("../public/logo.png") no-repeat center;
  height: 75vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-family: "Yesteryear", sans-serif;

  color: #a3c1a3ff;
}

header h1 {
  background-color: #ece4da;
  color: #a3c1a3ff;

  text-align: center;

  border-radius: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;

  margin: 0 2rem 0 2rem;
}

.filters .region select {
  border: 2px solid #222;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 25vw;

  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #222;
}

.filters .search input {
  border: 2px solid #222;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 25vw;

  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #222;

  background-color: #ece4da;
}

.content {
  margin: 1rem;

  font-family: "Raleway", sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  width: 23%;

  border: #222 2px solid;
  border-radius: 1rem;

  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;

  background: white;
  padding-bottom: 1rem;
}

.container img {
  width: 100%;
  height: 175px;

  border-radius: 1rem 1rem 0 0;
  border: #222 1px solid;
}

.container ul {
  margin: 0;
  padding: 0;
}

/* LOADER CSS */
.lds-ring {
  display: flex;
  margin: 0 auto 0 auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: flex;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #a3c1a3ff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #555 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .container {
    width: 40%;
  }
  .container img {
    height: 130px;
  }
}
